[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    height: 100%;
}

body {
    background-color: #ffffff;
}

/* LOGO */

#logo {
    left: 20px;
    position: fixed;
    top: 10px;
    z-index: 1100;
}

#logo img {
    height: 75px;
    width: 75px;
}

    @media(min-width: 768px) {
        #logo img {
            height: 150px;
            width: 150px;
        }
    }

/* SPLASH */

#splash {
    background-color: #000000;
    background-size: cover;
        -webkit-clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
    height: calc(50vh + 61px);
    left: 0;
    position: fixed;
    top: 75px;
    width: 100%;
    z-index: 500;
}

    @media(min-width: 768px) {
        #splash {
                -webkit-clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
            height: calc(100vh - 75px);
        }
    }

/* NAVBAR */

.navbar {
    background: rgba(255,255,255,0.97);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 0 100%);
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-top: 20px;
}

.navbar-fixed-top {
    border-width: 0;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-toggle {
    border-color: #dddddd;
    margin-bottom: 20px;
    margin-top: 0;
}

.navbar-toggle .icon-bar {
    background-color: #888888;
}

.navbar-nav {
    margin: 0;
}

.navbar-nav > li {
    text-align: center;
}

.navbar-nav > li > a {
    color: #333333;
    font-size: 1em;
    font-weight: 600;
}

.navbar-nav > li > a:hover {
    background: #f6f6f6;
    border-radius: 5px;
    color: #c30303;
}

    @media(min-width: 768px) {
        .navbar {
                -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
            padding-bottom: 55px;
        }

        .navbar-right {
            margin-right: 5px;
        }
    }

/* MAIN CONTENT */

#main-content {
    top: 50vh;
    position: relative;
    z-index: 750;
}

#page-title {
    color: #ffffff;
    font-size: 42px;
    font-weight: 600;
    line-height: 48px;
    margin: 0 auto;
    max-width: 1100px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0 0 20px #000000;
}

    @media(min-width: 768px) {
        #page-title {
            font-size: 72px;
            line-height: inherit;
            padding-bottom: 30px;
            padding-left: 20px;
            padding-right: 20px;
            width: calc(100% - 50px);
        }
    }

/* GENERAL */

a, a:focus {
    color: #f32a2c;
}

a:hover {
    color: #db1718;
}

.section-clip {
        -webkit-clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
}

.section {
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    max-width: 1100px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}

.section-title {
    color: #c30303;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
    text-align: center;
}

.section-subtitle {
    color: #c30303;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 35px;
    margin-top: -35px;
    text-align: center;
}

.block {
    margin: 0 auto;
    max-width: 600px;
}

.block p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
    background: #f32a2c;
    border-color: #c30303;
    color: #ffffff;
}

.btn-primary:hover {
    background: #db1718;
    border-color: #c30303;
    color: #ffffff;
}

    @media(min-width: 768px) {
        .section-clip {
                -webkit-clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
        }

        .section {
            margin-top: -50px;
            padding-bottom: 75px;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 75px;
            width: calc(100% - 50px);
        }

        .section-title {
            font-size: 36px;
            text-align: right;
        }

        .section-subtitle {
            text-align: right;
        }
    }

/* FOOTER */

#follow-us {
    background: #c30303;
    color: #ffffff;
    padding-bottom: 25px;
}

#follow-us h3 {
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

#follow-us a {
    color: #ffffff;
    line-height: 50px;
}

#follow-us a:hover {
    opacity: 0.7;
}