.odd-section {
	background: #eeeeee;
}

.even-section {
	background: #ffffff;
}

h2.section-title {
	margin-bottom: 5px;
}

h4.section-title {
	color: #000000;
}

.bio {
	font-size: 1.2em;
	margin: 0 auto;
	max-width: 600px;
}

.email-btn {
	margin-top: 20px;
}