#splash {
    background-image: url('/static/images/splash.jpg');
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: calc(100vh - 175px);
    min-height: 400px;
}

	@media(min-width: 768px) {
		#splash {
			min-height: 425px;
		}
	}

#senior-spotlight {
    background: #ffffff;
}

#become-a-sponsor {
    background: #eeeeee;
}

#become-a-sponsor-button {
    background: #f32a2c;
    border-color: #c30303;
    color: #ffffff;
    margin-top: 20px;
}

#become-a-sponsor-button:hover {
    background: #db1718;
}

#follow-us-bg {
    background: #eeeeee;
}