#splash-bg {
    background: #ffffff;
    height: 60%;
}

#splash-bg .col-xs-12 {
    height: 100%;
}

#splash {
    background-image: url('/static/images/splash.jpg');
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: calc(100% + 30px);
    padding-bottom: 0;
}

#senior-spotlight {
    background: #ffffff;
}

#become-a-sponsor-bg {
    background: #ffffff;
}

#become-a-sponsor {
    background: #eeeeee;
}

#become-a-sponsor-button {
    background: #f32a2c;
    border-color: #c30303;
    color: #ffffff;
    margin-top: 20px;
}

#become-a-sponsor-button:hover {
    background: #db1718;
}

#follow-us-bg {
    background: #eeeeee;
}