#varsity {
    background: #eeeeee;
}

#jv {
    background: #ffffff;
}

#freshman {
    background: #eeeeee;
}

#freshman-red {
    background: #ffffff;
}

.player-photo-col {
	width: 1%;
}

.player-number-col {
	width: 1%;
}

.player-photo {
	max-height: 60px;
	max-width: 45px;
}