#varsity {
    background: #eeeeee;
}

#jv {
    background: #ffffff;
}

#freshman {
    background: #eeeeee;
}

#freshman-red {
    background: #ffffff;
}

.player-card {
    background: #ffffff;
    border-radius: 5px;
    height: 120px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

    @media(min-width: 768px) {
        .player-card {
            margin-bottom: 30px;
        }
    }

.player-photo-container {
    background: rgba(0, 0, 0, 0.1);
        -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px;
    z-index: 100;
}

.player-photo {
    width: 120px;
}

.player-number {
    bottom: -80px;
    color: #f3f3f3;
    font-size: 13em;
    font-weight: bold;
    position: absolute;
    right: -15px;
    vertical-align: bottom;
}

.player-info {
    bottom: 0;
    box-sizing: border-box;
    color: #414042;
    left: 0;
    padding: 10px 15px 10px 130px;
    position: absolute;
    text-align: right;
    width: 100%;
    z-index: 100;
}

.player-name {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
}

.player-details {
    font-size: 1.2em;
}

.player-klass {

}

.player-photo-col {
    width: 1%;
}

.player-number-col {
    width: 1%;
}