{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static 'styles/coaches.css' %}?2" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {% for coach in coaches %}
        <div class="row {% if forloop.first %}first-section{% else %}slant-clip{% endif %} before-slant-clip {% cycle 'odd-section' 'even-section' %}">
            <div class="col-xs-12">
                <div class="inner-container">
                    <h2 class="section-title right-section-title">{{ coach.first_name }} {{ coach.last_name }}</h2>
                    <h4 class="section-title right-section-title">{{ coach.title }}</h4>
                    <div class="bio">
                        {% if coach.photo %}
                            <img class="photo" src="{{ coach.photo.url }}">
                        {% endif %}
                        {{ coach.bio | safe }}
                    </div>
                    {% if coach.email_address %}
                        <div class="btn-email">
                            <a class="btn btn-primary btn-lg" href="mailto:{{ coach.email_address }}">
                                <i class="fa fa-envelope-o fa-fw"></i>
                                Email Coach {{ coach.last_name }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}