{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static 'styles/history.css' %}?2" rel="stylesheet" type="text/css">
{% endblock %}

{% block page-title %}Team History{% endblock %}

{% block body %}
    <div class="section-clip">
        <div class="section" id="school-records">
            <div class="section-title">School Record Holders</div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row text-muted">
                                <div class="col-xs-2"><h5><i class="fa fa-trophy fa-lg fa-fw"></i></h5></div>
                                <div class="col-xs-8"><h5 class="text-center">{{ records.CAREER_ASSISTS.verbose_name }}</h5></div>
                                <div class="col-xs-2"><h5 class="text-right"><i class="fa fa-trophy fa-lg fa-fw"></i></h5></div>
                            </div>
                            {% for entry in records.CAREER_ASSISTS.entries %}
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12 col-xs-6"><b>{{ entry.player | upper }}</b></div>
                                    <div class="col-lg-2 col-sm-3 col-xs-2">{{ entry.record }}</div>
                                    <div class="col-lg-4 col-sm-9 col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ records.CAREER_GOALS.verbose_name }}</h5>
                            {% for entry in records.CAREER_GOALS.entries %}
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12 col-xs-6"><b>{{ entry.player | upper }}</b></div>
                                    <div class="col-lg-2 col-sm-3 col-xs-2">{{ entry.record }}</div>
                                    <div class="col-lg-4 col-sm-9 col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ records.CAREER_SAVES.verbose_name }}</h5>
                            {% for entry in records.CAREER_SAVES.entries %}
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12 col-xs-6"><b>{{ entry.player | upper }}</b></div>
                                    <div class="col-lg-2 col-sm-3 col-xs-2">{{ entry.record }}</div>
                                    <div class="col-lg-4 col-sm-9 col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ records.SEASON_ASSISTS.verbose_name }}</h5>
                            {% for entry in records.SEASON_ASSISTS.entries %}
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12 col-xs-6"><b>{{ entry.player | upper }}</b></div>
                                    <div class="col-lg-2 col-sm-3 col-xs-2">{{ entry.record }}</div>
                                    <div class="col-lg-4 col-sm-9 col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ records.SEASON_GOALS.verbose_name }}</h5>
                            {% for entry in records.SEASON_GOALS.entries %}
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12 col-xs-6"><b>{{ entry.player | upper }}</b></div>
                                    <div class="col-lg-2 col-sm-3 col-xs-2">{{ entry.record }}</div>
                                    <div class="col-lg-4 col-sm-9 col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ records.SEASON_SAVES.verbose_name }}</h5>
                            {% for entry in records.SEASON_SAVES.entries %}
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12 col-xs-6"><b>{{ entry.player | upper }}</b></div>
                                    <div class="col-lg-2 col-sm-3 col-xs-2">{{ entry.record }}</div>
                                    <div class="col-lg-4 col-sm-9 col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ records.GAME_ASSISTS.verbose_name }}</h5>
                            {% for entry in records.GAME_ASSISTS.entries %}
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12 col-xs-6"><b>{{ entry.player | upper }}</b></div>
                                    <div class="col-lg-2 col-sm-3 col-xs-2">{{ entry.record }}</div>
                                    <div class="col-lg-4 col-sm-9 col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ records.GAME_GOALS.verbose_name }}</h5>
                            {% for entry in records.GAME_GOALS.entries %}
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12 col-xs-6"><b>{{ entry.player | upper }}</b></div>
                                    <div class="col-lg-2 col-sm-3 col-xs-2">{{ entry.record }}</div>
                                    <div class="col-lg-4 col-sm-9 col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ records.GAME_SAVES.verbose_name }}</h5>
                            {% for entry in records.GAME_SAVES.entries %}
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12 col-xs-6"><b>{{ entry.player | upper }}</b></div>
                                    <div class="col-lg-2 col-sm-3 col-xs-2">{{ entry.record }}</div>
                                    <div class="col-lg-4 col-sm-9 col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ records.WINNING_STREAK.verbose_name }}</h5>
                            {% for entry in records.WINNING_STREAK.entries %}
                                <div class="row">
                                    <div class="col-xs-8">
                                        {% if forloop.first %}
                                            <b>{{ entry.record | upper }}</b>
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ records.SEASON_WINS.verbose_name }}</h5>
                            {% for entry in records.SEASON_WINS.entries %}
                                <div class="row">
                                    <div class="col-xs-8">
                                        {% if forloop.first %}
                                            <b>{{ entry.record | upper }}</b>
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ records.SHUTOUTS.verbose_name }}</h5>
                            {% for entry in records.SHUTOUTS.entries %}
                                <div class="row">
                                    <div class="col-xs-8">
                                        {% if forloop.first %}
                                            <b>{{ entry.record | upper }}</b>
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ records.PLAYOFF_APPEARANCE.verbose_name }}</h5>
                            {% for entry in records.PLAYOFF_APPEARANCE.entries %}
                                <div class="row">
                                    <div class="col-xs-8">
                                        {% if forloop.first %}
                                            <b>{{ entry.record | upper }}</b>
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-clip">
        <div class="section" id="hardware-2018">
            <div class="section-title">2018 Hardware</div>
            <div class="row">
                <div class="col-sm-6">
                    <ul class="half-column">
                        <li>2018 Temple Wildcat Classic Varsity Champs</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>2018 Alvarado JV Tournament Champs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-clip">
        <div class="section" id="hardware-2017">
            <div class="section-title">2017 Hardware</div>
            <div class="row">
                <div class="col-sm-6">
                    <ul class="half-column">
                        <li>2017 Regional Finalist</li>
                        <li>2017 District 18-5A Varsity runner-up</li>
                        <li>2017 District 18-5A JV champions</li>
                        <li>2017 District 18-5A Freshmen champions</li>
                        <li>2017 Temple Wildcat Classic Varsity Tournament champions</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>2017 Smithson Valley Varsity Tournament champions</li>
                        <li>2017 Alvarado JV Tournament champions</li>
                        <li>2017 Harker Heights JV Tournament champions</li>
                        <li>2017 Waco Winter Classic JV Tournament champions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-clip">
        <div class="section" id="postseason">
            <div class="section-title">Postseason</div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Playoffs</h4>
                    <div class="clearfix">
                        <span class="year">2002</span>
                        <span class="year">2006</span>
                        <span class="year">2007</span>
                        <span class="year">2008</span>
                        <span class="year">2009</span>
                        <span class="year">2010</span>
                        <span class="year">2011</span>
                        <span class="year">2012</span>
                        <span class="year">2013</span>
                        <span class="year">2014</span>
                        <span class="year">2015</span>
                        <span class="year">2016</span>
                        <span class="year">2017</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4>District Champions</h4>
                    <div class="clearfix">
                        <span class="year"><i class="fa fa-star"></i> 2015</span>
                        <span class="year"><i class="fa fa-star"></i> 2016</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-clip">
        <div class="section" id="individual-awards">
            <div class="section-title">Individual Awards</div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>All-State</h4>
                    <ul>
                        <li>Juan Arroyo <span class="year">2015*</span></li>
                        <li>Alexis Arranaga <span class="year">2016</span></li>
                        <li>Jonathan Gonzalez <span class="year">2017</span></li>
                        <li>Pablo Negrete <span class="year">2017</span></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>All-Region</h4>
                    <ul>
                        <li>Alexis Arranaga <span class="year">2015</span></li>
                        <li>Ben Diaz <span class="year">2013*</span></li>
                        <li>Jason Diaz <span class="year">2012</span> <span class="year">2013*</span></li>
                        <li>Jorge Cerrillo <span class="year">2015</span> <span class="year">2016</span></li>
                        <li>Hector Herrera <span class="year">2011</span></li>
                        <li>Jose Jaimes <span class="year">2011</span> <span class="year">2012</span></li>
                        <li>Austin Marshall <span class="year">2011</span></li>
                        <li>Ildefonso Vazquez <span class="year">2017</span></li>
                        <li>Omar Williams <span class="year">2013*</span> <span class="year">2014*</span> <span class="year">2015*</span></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>All-District</h4>
                    <ul>
                        <li>Edwin Almaraz <span class="year">2015</span> <span class="year">2016</span> <span class="year">2017</span></li>
                        <li>Jarlin Amador <span class="year">2013</span></li>
                        <li>Alexis Arranaga <span class="year">2013</span> <span class="year">2015 Defensive MVP</span> <span class="year">2016 Defensive MVP</span></li>
                        <li>Victor Alvarez <span class="year">2016</span></li>
                        <li>Juan Arroyo <span class="year">2015</span> <span class="year">2016*</span> <span class="year">2017</span></li>
                        <li>Mauro Bocanegra <span class="year">2012</span></li>
                        <li>Victor Castaneda <span class="year">2017*</span></li>
                        <li>Jorge Cerrillo <span class="year">2015 District MVP</span> <span class="year">2016 District MVP</span></li>
                        <li>Alejandro Cordero <span class="year">2012</span> <span class="year">2013</span></li>
                        <li>Eder Corvera <span class="year">2015</span></li>
                        <li>Derian De Lara <span class="year">2015</span> <span class="year">2016</span></li>
                        <li>Ben Diaz <span class="year">2012</span><span> <span class="year">2013</span></li>
                        <li>Erick Diaz <span class="year">2016</span></li>
                        <li>Jason Diaz <span class="year">2012 Newcomer of the Year</span> <span class="year">2013 Offensive MVP</span></li>
                        <li>Enrique Dominguez <span class="year">2016</span></li>
                        <li>Johnny Escobedo <span class="year">2017</span></li>
                        <li>Jonathan Gonzalez <span class="year">2015</span> <span class="year">2016</span> <span class="year">2017</span></li>
                        <li>Esteban Herrera <span class="year">2012</span> <span class="year">2013</span></li>
                        <li>Josue Ibarra <span class="year">2015</span> <span class="year">2016</span></li>
                        <li>Jose Jaimes <span class="year">2012 Defensive MVP</span></li>
                        <li>Desmond Johnson <span class="year">2012*</span></li>
                        <li>Hernan Landaverde <span class="year">2012</span></li>
                        <li>Nathaniel Lopez <span class="year">2017</span></li>
                        <li>Pablo Negrete <span class="year">2015</span> <span class="year">2016</span> <span class="year">2017 Goalkeeping MVP</span></li>
                        <li>Kris O'Geda <span class="year">2013</span></li>
                        <li>Arturo Palacios <span class="year">2016*</span> <span class="year">2017</span></li>
                        <li>Lino Palacios <span class="year">2012*</span></li>
                        <li>Chris Perez <span class="year">2012*</span></li>
                        <li>Eric Quiroga <span class="year">2015</span> <span class="year">2016</span></li>
                        <li>Francisco Ramirez <span class="year">2015</span></li>
                        <li>Bryan Reyes <span class="year">2012</span></li>
                        <li>Jeffrey Reyes <span class="year">2013</span></li>
                        <li>Adolfo Rodriguez <span class="year">2016</span> <span class="year">2017</span></li>
                        <li>Ty Sanchez <span class="year">2012</span></li>
                        <li>Cesar Solano <span class="year">2017*</span></li>
                        <li>Matthew Teagle <span class="year">2013</span></li>
                        <li>Raul Toribio <span class="year">2017</span></li>
                        <li>Ildefonso Vazquez <span class="year">2017 Defensive MVP</span></li>
                        <li>Hiram Williams <span class="year">2012</span> <span class="year">2013</span></li>
                        <li>Omar Williams <span class="year">2013</span> <span class="year">2015</span> <span class="year">2016</span></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>Super CenTex</h4>
                    <ul>
                        <li>Alexis Arranaga <span class="year">2015</span> <span class="year">2016</span></li>
                        <li>Jorge Cerrillo <span class="year">2014</span> <span class="year">2015</span> <span class="year">2016</span></li>
                        <li>Marcelino De Los Santos <span class="year">2014</span></li>
                        <li>Ben Diaz <span class="year">2013</span></li>
                        <li>Jason Diaz <span class="year">2013</span></li>
                        <li>Enrique Dominguez <span class="year">2016*</span></li>
                        <li>Pablo Negrete <span class="year">2016*</span> <span class="year">2017</span></li>
                        <li>Jonathan Gonzalez <span class="year">2017</span></li>
                        <li>Nathaniel Lopez <span class="year">2017*</span></li>
                        <li>Carlos Orozco <span class="year">2015*</span></li>
                        <li>Francisco Ramirez <span class="year">2015*</span></li>
                        <li>Adolfo Rodriguez <span class="year">2017</span></li>
                        <li>Raul Toribio <span class="year">2017*</span></li>
                        <li>Ildefonso Vazquez <span class="year">2017</span></li>
                        <li>Omar Williams <span class="year">2013</span> <span class="year">2014</span> <span class="year">2015*</span></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" id="footnote">* Honorable Mention</div>
            </div>
        </div>
    </div>
{% endblock %}