{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static 'styles/history.css' %}?2" rel="stylesheet" type="text/css">
{% endblock %}

{% block page-title %}Team History{% endblock %}

{% block body %}
    <div class="section-clip">
        <div class="section" id="school-records">
            <div class="section-title">School Record Holders</div>
            {% for category in individual_categories %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row">
                {% endif %}
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-center text-muted">{{ category.title }}</h5>
                            {% for entry in category.entries %}
                                <div class="row">
                                    <div class="col-xs-6 col-lg-6 hidden-sm hidden-md"><b>{{ entry.player | upper }}</b></div>
                                    <div class="col-sm-12 hidden-xs hidden-lg text-center"><b>{{ entry.player | upper }}</b></div>
                                    <div class="col-xs-2 col-sm-3 col-lg-2">{{ entry.record }}</div>
                                    <div class="col-xs-4 col-sm-9 col-lg-4 text-right">{{ entry.season }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
            {% for category in team_categories %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row">
                {% endif %}
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ category.title }}</h5>
                            {% for entry in category.entries %}
                                <div class="row">
                                    {% if forloop.first %}
                                        <div class="col-xs-7 col-sm-12 col-md-7">
                                            <div class="hidden-xs hidden-md hidden-lg text-center"><b>{{ entry.record | upper }}</b></div>
                                            <div class="hidden-sm"><b>{{ entry.record | upper }}</b></div>
                                        </div>
                                        <div class="col-xs-5 col-sm-12 col-md-5">
                                            <div class="hidden-xs hidden-md hidden-lg text-center">{{ entry.season }}</div>
                                            <div class="hidden-sm text-right">{{ entry.season }}</div>
                                        </div>
                                    {% else %}
                                        <div class="col-xs-12">
                                            <div class="hidden-xs hidden-md hidden-lg text-center">{{ entry.season }}</div>
                                            <div class="hidden-sm text-right">{{ entry.season }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-muted text-center">{{ playoff_appearance.title }}</h5>
                            {% for entry in playoff_appearance.entries %}
                                <div class="row">
                                    {% if forloop.first %}
                                        <div class="col-xs-7 col-sm-12 col-md-7">
                                            <div class="hidden-xs hidden-md hidden-lg text-center"><b>{{ entry.record | upper }}</b></div>
                                            <div class="hidden-sm"><b>{{ entry.record | upper }}</b></div>
                                        </div>
                                        <div class="col-xs-5 col-sm-12 col-md-5">
                                            <div class="hidden-xs hidden-md hidden-lg text-center">{{ entry.season }}</div>
                                            <div class="hidden-sm text-right">{{ entry.season }}</div>
                                        </div>
                                    {% else %}
                                        <div class="col-xs-12">
                                            <div class="hidden-xs hidden-md hidden-lg text-center">{{ entry.season }}</div>
                                            <div class="hidden-sm text-right">{{ entry.season }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-clip">
        <div class="section" id="hardware-2018">
            <div class="section-title">2018 Hardware</div>
            <div class="row">
                <div class="col-sm-6">
                    <ul class="half-column">
                        <li>2018 Temple Wildcat Classic Varsity Champs</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>2018 Alvarado JV Tournament Champs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-clip">
        <div class="section" id="hardware-2017">
            <div class="section-title">2017 Hardware</div>
            <div class="row">
                <div class="col-sm-6">
                    <ul class="half-column">
                        <li>2017 Regional Finalist</li>
                        <li>2017 District 18-5A Varsity runner-up</li>
                        <li>2017 District 18-5A JV champions</li>
                        <li>2017 District 18-5A Freshmen champions</li>
                        <li>2017 Temple Wildcat Classic Varsity Tournament champions</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>2017 Smithson Valley Varsity Tournament champions</li>
                        <li>2017 Alvarado JV Tournament champions</li>
                        <li>2017 Harker Heights JV Tournament champions</li>
                        <li>2017 Waco Winter Classic JV Tournament champions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-clip">
        <div class="section" id="postseason">
            <div class="section-title">Postseason</div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Playoffs</h4>
                    <div class="clearfix">
                        <span class="year">2002</span>
                        <span class="year">2006</span>
                        <span class="year">2007</span>
                        <span class="year">2008</span>
                        <span class="year">2009</span>
                        <span class="year">2010</span>
                        <span class="year">2011</span>
                        <span class="year">2012</span>
                        <span class="year">2013</span>
                        <span class="year">2014</span>
                        <span class="year">2015</span>
                        <span class="year">2016</span>
                        <span class="year">2017</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4>District Champions</h4>
                    <div class="clearfix">
                        <span class="year"><i class="fa fa-star"></i> 2015</span>
                        <span class="year"><i class="fa fa-star"></i> 2016</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-clip">
        <div class="section" id="individual-awards">
            <div class="section-title">Individual Awards</div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>All-State</h4>
                    <ul>
                        <li>Juan Arroyo <span class="year">2015*</span></li>
                        <li>Alexis Arranaga <span class="year">2016</span></li>
                        <li>Jonathan Gonzalez <span class="year">2017</span></li>
                        <li>Pablo Negrete <span class="year">2017</span></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>All-Region</h4>
                    <ul>
                        <li>Alexis Arranaga <span class="year">2015</span></li>
                        <li>Ben Diaz <span class="year">2013*</span></li>
                        <li>Jason Diaz <span class="year">2012</span> <span class="year">2013*</span></li>
                        <li>Jorge Cerrillo <span class="year">2015</span> <span class="year">2016</span></li>
                        <li>Hector Herrera <span class="year">2011</span></li>
                        <li>Jose Jaimes <span class="year">2011</span> <span class="year">2012</span></li>
                        <li>Austin Marshall <span class="year">2011</span></li>
                        <li>Ildefonso Vazquez <span class="year">2017</span></li>
                        <li>Omar Williams <span class="year">2013*</span> <span class="year">2014*</span> <span class="year">2015*</span></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>All-District</h4>
                    <ul>
                        <li>Edwin Almaraz <span class="year">2015</span> <span class="year">2016</span> <span class="year">2017</span></li>
                        <li>Jarlin Amador <span class="year">2013</span></li>
                        <li>Alexis Arranaga <span class="year">2013</span> <span class="year">2015 Defensive MVP</span> <span class="year">2016 Defensive MVP</span></li>
                        <li>Victor Alvarez <span class="year">2016</span></li>
                        <li>Juan Arroyo <span class="year">2015</span> <span class="year">2016*</span> <span class="year">2017</span></li>
                        <li>Mauro Bocanegra <span class="year">2012</span></li>
                        <li>Victor Castaneda <span class="year">2017*</span></li>
                        <li>Jorge Cerrillo <span class="year">2015 District MVP</span> <span class="year">2016 District MVP</span></li>
                        <li>Alejandro Cordero <span class="year">2012</span> <span class="year">2013</span></li>
                        <li>Eder Corvera <span class="year">2015</span></li>
                        <li>Derian De Lara <span class="year">2015</span> <span class="year">2016</span></li>
                        <li>Ben Diaz <span class="year">2012</span><span> <span class="year">2013</span></li>
                        <li>Erick Diaz <span class="year">2016</span></li>
                        <li>Jason Diaz <span class="year">2012 Newcomer of the Year</span> <span class="year">2013 Offensive MVP</span></li>
                        <li>Enrique Dominguez <span class="year">2016</span></li>
                        <li>Johnny Escobedo <span class="year">2017</span></li>
                        <li>Jonathan Gonzalez <span class="year">2015</span> <span class="year">2016</span> <span class="year">2017</span></li>
                        <li>Esteban Herrera <span class="year">2012</span> <span class="year">2013</span></li>
                        <li>Josue Ibarra <span class="year">2015</span> <span class="year">2016</span></li>
                        <li>Jose Jaimes <span class="year">2012 Defensive MVP</span></li>
                        <li>Desmond Johnson <span class="year">2012*</span></li>
                        <li>Hernan Landaverde <span class="year">2012</span></li>
                        <li>Nathaniel Lopez <span class="year">2017</span></li>
                        <li>Pablo Negrete <span class="year">2015</span> <span class="year">2016</span> <span class="year">2017 Goalkeeping MVP</span></li>
                        <li>Kris O'Geda <span class="year">2013</span></li>
                        <li>Arturo Palacios <span class="year">2016*</span> <span class="year">2017</span></li>
                        <li>Lino Palacios <span class="year">2012*</span></li>
                        <li>Chris Perez <span class="year">2012*</span></li>
                        <li>Eric Quiroga <span class="year">2015</span> <span class="year">2016</span></li>
                        <li>Francisco Ramirez <span class="year">2015</span></li>
                        <li>Bryan Reyes <span class="year">2012</span></li>
                        <li>Jeffrey Reyes <span class="year">2013</span></li>
                        <li>Adolfo Rodriguez <span class="year">2016</span> <span class="year">2017</span></li>
                        <li>Ty Sanchez <span class="year">2012</span></li>
                        <li>Cesar Solano <span class="year">2017*</span></li>
                        <li>Matthew Teagle <span class="year">2013</span></li>
                        <li>Raul Toribio <span class="year">2017</span></li>
                        <li>Ildefonso Vazquez <span class="year">2017 Defensive MVP</span></li>
                        <li>Hiram Williams <span class="year">2012</span> <span class="year">2013</span></li>
                        <li>Omar Williams <span class="year">2013</span> <span class="year">2015</span> <span class="year">2016</span></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>Super CenTex</h4>
                    <ul>
                        <li>Alexis Arranaga <span class="year">2015</span> <span class="year">2016</span></li>
                        <li>Jorge Cerrillo <span class="year">2014</span> <span class="year">2015</span> <span class="year">2016</span></li>
                        <li>Marcelino De Los Santos <span class="year">2014</span></li>
                        <li>Ben Diaz <span class="year">2013</span></li>
                        <li>Jason Diaz <span class="year">2013</span></li>
                        <li>Enrique Dominguez <span class="year">2016*</span></li>
                        <li>Pablo Negrete <span class="year">2016*</span> <span class="year">2017</span></li>
                        <li>Jonathan Gonzalez <span class="year">2017</span></li>
                        <li>Nathaniel Lopez <span class="year">2017*</span></li>
                        <li>Carlos Orozco <span class="year">2015*</span></li>
                        <li>Francisco Ramirez <span class="year">2015*</span></li>
                        <li>Adolfo Rodriguez <span class="year">2017</span></li>
                        <li>Raul Toribio <span class="year">2017*</span></li>
                        <li>Ildefonso Vazquez <span class="year">2017</span></li>
                        <li>Omar Williams <span class="year">2013</span> <span class="year">2014</span> <span class="year">2015*</span></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" id="footnote">* Honorable Mention</div>
            </div>
        </div>
    </div>
{% endblock %}