{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static 'styles/home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="row before-slant-clip" id="splash"></div>
    <div class="row before-slant-clip slant-clip" id="senior-spotlight">
        <div class="col-xs-12">
            <div class="inner-container">
                <h1 class="section-title">SENIOR SPOTLIGHT</h1>
                <div class="row">
                    <div class="col-sm-6 clearfix">
                        <img src="{{ senior_spotlight.photo.url }}" id="senior-spotlight-photo">
                    </div>
                    <div class="col-sm-6" id="senior-spotlight-bio">
                        <h3 id="senior-spotlight-name">{{ senior_spotlight.player.first_name }} {{ senior_spotlight.player.last_name }}</h3>
                        <p>{{ senior_spotlight.bio | safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row before-slant-clip slant-clip" id="sponsor">
        <div class="col-xs-12">
            <h1 class="section-title">BECOME A SPONSOR</h1>
            <p class="text-center" id="sponsor-blurb">Support the Waco High Boys Soccer Program and help us become the premiere soccer program in the state.</p>
            <p class="text-center">
                <a class="btn btn-primary btn-lg" href="{% url 'sponsor' %}" id="sponsor-button">Click Here for Sponsorship Info</a>
            </p>
        </div>
    </div>
{% endblock %}