<html>
    <body>
        <script>
            var queryString = location.hash.substring(1);
            var csrfToken = document.cookie.match('(^|;) ?csrftoken=([^;]*)(;|$)')[2];

            var req = new XMLHttpRequest();
            req.open('POST', '{% url 'oauth' %}', true);
            req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            req.setRequestHeader('X-CSRFToken', csrfToken);

            req.onreadystatechange = function (e) {
                if (req.readyState == 4) {
                    if (req.status == 200) {
                        window.location = '{% url 'home' %}';
                    } else if (req.status == 400) {
                        alert('There was an error processing the token.');
                    } else {
                        alert('something else other than 200 was returned')
                    }
                }
            };

            req.send(queryString);
        </script>
    </body>
</html>