{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static 'styles/photos.css' %}?2" rel="stylesheet" type="text/css">
{% endblock %}

{% block page-title %}Photos{% endblock %}

{% block body %}
    <div class="section-clip">
        <div class="section" id="photos">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="text-center">Coming Soon!</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}