{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static 'styles/sponsor.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="row before-slant-clip slant-clip" id="become-a-sponsor">
        <div class="col-xs-12">
            <div class="inner-container">
                <h2 class="section-title right-section-title">Become a Sponsor</h2>
                <div class="block">
                    <h4 id="salutation">Dear Friends of Waco High Boys' Soccer,</h4>
                    <p>As we kick off our 2017-2018 season at Waco High School, we wish to form a partnership between the WHS Soccer Program and you, the community sponsors. Our goal is for our student-athletes to perform both on the soccer field and in the classroom.  Through this effort we are developing more responsible and productive student-athletes in our community.</p>
                    <p>Please consider sponsoring the Waco High Boys’ Soccer program to assist us in becoming one of the premier soccer programs in the state.  Your financial support will go towards the following:</p>
                    <ul id="sponsored-items">
                        <li>8th Annual Alumni game (Friday, December 29th, 2017 at 8:00 pm at Paul Tyson)</li>
                        <li>5th Annual Waco High JV Winter Classic (January 18th & 20th, 2018) on the Waco High Campus</li>
                        <li>Payment of Officials for the Soccer Tournament</li>
                        <li>New game balls, team travel, new jackets, and other apparel for the team</li>
                    </ul>
                    <div id="sponsorship-levels-container">
                        <table class="table" id="sponsorship-levels">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <div>Name on Banner/Shirts
                                    </th>
                                    <th>
                                        <div>Website/Facebook Recognition</div>
                                    </th>
                                    <th>
                                        <div>Autographed Ball</div>
                                    </th>
                                    <th>
                                        <div>Framed Poster</div>
                                    </th>
                                    <th>
                                        <div>Plaque of Recognition</div>
                                    </th>
                                    <th>
                                        <div>VIP Treatment</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Platinum ($1000)</th>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                </tr>
                                <tr>
                                    <th>Gold ($1000)</th>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle-o"></i></td>
                                </tr>
                                <tr>
                                    <th>Silver ($500)</th>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle-o"></i></td>
                                    <td><i class="fa fa-circle-o"></i></td>
                                </tr>
                                <tr>
                                    <th>Bronze ($250)</th>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle-o"></i></td>
                                    <td><i class="fa fa-circle-o"></i></td>
                                    <td><i class="fa fa-circle-o"></i></td>
                                </tr>
                                <tr>
                                    <th>Iron ($100)</th>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle"></i></td>
                                    <td><i class="fa fa-circle-o"></i></td>
                                    <td><i class="fa fa-circle-o"></i></td>
                                    <td><i class="fa fa-circle-o"></i></td>
                                    <td><i class="fa fa-circle-o"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>Your contribution to the Waco High Soccer Program is 100% tax deductible. Our tax ID number is <strong>174600252327</strong>. We truly appreciate your commitment to the community, and thank you in advance for supporting the Waco High School Boys’ Soccer Program.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}